@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  font-family: "Press Start 2P", cursive;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

.main-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(50px, auto);
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.guidelines {
  text-align: center;
  font-size: 0.75rem;
}

.game-title {
  text-align: center;
}

.btn-container {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.btn {
  background-color: #dadada;
  border-radius: 10px;
  border-color: black;
  outline: none;
  height: 50px;
  width: 70%;
  max-width: 200px;
  -webkit-box-shadow: 0 0 10px white;
  box-shadow: 0 0 10px white;
}

.secret-number-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.separator {
  position: absolute;
  top: 40px;
  border-bottom: 1px white solid;
  width: 100%;
}

.secret-number {
  display: flex;
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #dadada;
  color: black;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 2rem;
}

.record-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  font-size: 0.65rem;
}

.guessing-txt {
  grid-column: 1 / -1;
  grid-row: 1/2;
  font-size: 1rem;
}

.record-container i {
  font-size: 14px;
}

.record-container .label {
  text-align: left;
}

.guess {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.guess input {
  width: 100px;
  height: 100px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  outline: none;
  margin: 10px;
  font-size: 2rem;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .main-container {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .secret-number-container {
    margin: 5% 0;
  }

  .secret-number {
    width: 100px;
    height: 100px;
  }

  .guess {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50%;
    height: 100%;
  }

  .guess input {
    width: 200px;
    height: 150px;
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    color: white;
    font-size: 3rem;
    text-align: center;
  }

  .record-container {
    width: 50%;
    text-align: right;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    font-size: 0.9rem;
  }

  .record-container p {
    line-height: 1.5rem;
  }

  .record-container i {
    font-size: 1rem;
  }

  .guessing-txt {
    font-size: 1.5rem;
    text-align: center;
  }

  .value {
    text-align: left;
  }

  .bottom-section {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
  }
}
